DATABASE_URL=postgresql://postgres:postgres@localhost:5434/postgres
CORS_ORIGINS=https://mb-webapp.localhost
OIDC_ISSUER_URL=https://dev-keycloak.osc-secnum-fr1.scalingo.io/realms/DITP
OIDC_JWKS_URI=https://dev-keycloak.osc-secnum-fr1.scalingo.io/realms/DITP/protocol/openid-connect/certs
OIDC_AUDIENCE=mb-api
OIDC_AUTHORIZED_PARTY=dev-pilote-mb
LOG_LEVEL=info
