.conteneur {
  background: var(--background-contrast-grey);

  .contenuPrincipal {
    width: 100%;
  }

  h1,
  h2,
  h3 {
    color: var(--text-title-blue-france);
  }

  header {
    height: 56px;
    background: #e3e3fd;
    border-radius: 8px 8px 0 0;
  }
}
