##
# Database connection string for Prisma

DATABASE_URL="postgresql://postgresql:secret@localhost:5432/postgresql"

##
# Optional auth to activate NextAuth basic auth (soon to be replaced by OIDC)

BASIC_AUTH_CREDENTIALS=user:password
