################################################################################
#                                 WebApp .env                                  #
################################################################################

##
# Logs

# Niveaux de logs possibles : trace, debug, info, warn, error, fatal, silent.
LOG_LEVEL=info

##
# Database connection string for Prisma

DATABASE_URL="postgresql://postgresql:secret@localhost:5432/postgresql"

##
# Auth & Keycloak

# mot de passe optionnel, remplace complètement OIDC en dev (ne pas utiliser en production !!)
DEV_PASSWORD="mot de passe"

# NextAuth secret, peut être généré par la commande `openssl rand -base64 32`
NEXTAUTH_SECRET=TBD
NEXTAUTH_URL=http://localhost:3000 # ou http://pilote.localhost

# Pour se connecter par une instance Keycloak (optionel)
# /!\ Incompatible avec DEV_PASSWORD /!\
KEYCLOAK_CLIENT_ID=TBD
KEYCLOAK_CLIENT_SECRET=TDB
KEYCLOAK_ISSUER=TDB

##
# Import d'utilisateurs dans Keycloak (optionel)
IMPORT_KEYCLOAK_URL=TBD
IMPORT_CLIENT_ID=TBD
IMPORT_CLIENT_SECRET=TBD

NEXT_PUBLIC_FF_NOUVELLE_PAGE_ACCUEIL=true
NEXT_PUBLIC_FF_RAPPORT_DETAILLE=true
NEXT_PUBLIC_FF_PROJETS_STRUCTURANTS=true
NEXT_PUBLIC_FF_INFOBULLE_PONDERATION=false
NEXT_PUBLIC_FF_DATE_METEO=false
NEXT_PUBLIC_LIMITE_CARACTERES_PUBLICATION=6000
NEXT_PUBLIC_FF_ALERTES=true
NEXT_PUBLIC_FF_ALERTES_BAISSE=false
NEXT_PUBLIC_FF_APPLICATION_INDISPONIBLE=false
NEXT_PUBLIC_FF_FICHE_TERRITORIALE=false
NEXT_PUBLIC_FF_TA_ANNUEL=false
NEXT_PUBLIC_FF_GESTION_TOKEN_API=false

# Matomo Analytics
NEXT_PUBLIC_MATOMO_URL=TBD;
NEXT_PUBLIC_MATOMO_SITE_ID=TBD;

# Dossier du centre d'aide à récupérer
CENTREAIDE_GITHUB_FOLDER=integration-pilote
CENTREAIDE_GITHUB_TOKEN=token
