# dependencies
node_modules/
.pnp
.pnp.js

# misc
.DS_Store
*.pem
*.crt
*.der

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local
.env.prod

# IDE
.idea/
.vscode/
.cursor/
.claude/
!.claude/skills/feature/SKILL.md

# misc
qodana.yaml
*.pgsql
*.tsbuildinfo
.devtools

# build artifacts
.next
/mb-api-deploy
/mb-webapp-deploy
/nginx.conf
/.slugignore
/start.sh

# uploads
/uploads

docs/superpowers/

# superpowers specs/plans
docs/superpowers/
