PORT=4001
API_BASE_URL_LOCAL=https://pmb-api.modernisation.localhost
API_BASE_URL_DEV=https://pmb-api-dev.modernisation.localhost
API_BASE_URL_PROD=https://pmb-api-prod.modernisation.localhost
SESSION_SECRET=change-me-with-a-32-bytes-secret-or-more
PUBLIC_BASE_URL=https://pmb-admin.modernisation.localhost
LOG_LEVEL=info
APP_PACKAGE=@pilote/mb-admin