PORT=4001
API_BASE_URL_LOCAL=https://mb-api.localhost
API_BASE_URL_DEV=https://mb-api-dev.example
API_BASE_URL_PROD=https://mb-api-prod.example
SESSION_SECRET=
PUBLIC_BASE_URL=https://mb-admin.localhost
LOG_LEVEL=info
