DATABASE_URL=postgresql://postgres:postgres@localhost:5434/postgres
CORS_ORIGINS=https://kpilote.modernisation.localhost
OIDC_ISSUER_URL=https://fca.integ01.dev-agentconnect.fr/api/v2
OIDC_USERINFO_URL=https://fca.integ01.dev-agentconnect.fr/api/v2/userinfo
OIDC_JWKS_URI=https://fca.integ01.dev-agentconnect.fr/api/v2/jwks
OIDC_AUDIENCE=4ce2e36ceeb69c4a9ede20b52bad46470bc95bfaf5fdf0afedd9815e336d52da
KEYCLOAK_ISSUER_URL=https://dev-keycloak.osc-secnum-fr1.scalingo.io/realms/DITP
KEYCLOAK_JWKS_URI=https://dev-keycloak.osc-secnum-fr1.scalingo.io/realms/DITP/protocol/openid-connect/certs
KEYCLOAK_AUDIENCE=dev-pilote-kpilote
API_KEY_HMAC_SECRET=change-me-with-a-32-bytes-secret-or-more
LOG_LEVEL=info
APP_PACKAGE=@pilote/kpilote-api