@import "/src/client/styles/variables";

.barreLatérale {
  position: sticky;
  top: 0;
  width: 20rem;
  height: 100vh;
  overflow-y: scroll;
  background: white;
  border-right: 1px solid var(--border-disabled-grey);
}

@media screen and (max-width: $breakpoint-xl) {
  .barreLatérale {
    position: fixed;
    left: 0;
    z-index: 501;
    transition: 500ms;
    transform: translateX(-20rem);
  }

  .barreEstOuverte {
    transition: 500ms;
    transform: translateX(0);
  }
}
