PORT=4001
API_BASE_URL_LOCAL=https://kpilote-api.modernisation.localhost
API_BASE_URL_DEV=https://kpilote-api-dev.modernisation.localhost
API_BASE_URL_PROD=https://kpilote-api-prod.modernisation.localhost
SESSION_SECRET=change-me-with-a-32-bytes-secret-or-more
PUBLIC_BASE_URL=https://kpilote-admin.modernisation.localhost
LOG_LEVEL=info
APP_PACKAGE=@pilote/kpilote-admin