@font-face {
  font-family: "Marianne";
  font-weight: 700;
  font-style: italic;
  src: url("./Marianne/Marianne-Bold_Italic.woff2") format("woff2"),
    url("./Marianne/Marianne-Bold_Italic.woff") format("woff");
}

@font-face {
  font-family: "Marianne";
  font-weight: 700;
  font-style: normal;
  src: url("./Marianne/Marianne-Bold.woff2") format("woff2"),
    url("./Marianne/Marianne-Bold.woff") format("woff");
}

@font-face {
  font-family: "Marianne";
  font-weight: 300;
  font-style: italic;
  src: url("./Marianne/Marianne-Light_Italic.woff2") format("woff2"),
    url("./Marianne/Marianne-Light_Italic.woff") format("woff");
}

@font-face {
  font-family: "Marianne";
  font-weight: 300;
  font-style: normal;
  src: url("./Marianne/Marianne-Light.woff2") format("woff2"),
    url("./Marianne/Marianne-Light.woff") format("woff");
}

@font-face {
  font-family: "Marianne";
  font-weight: 500;
  font-style: italic;
  src: url("./Marianne/Marianne-Medium_Italic.woff2") format("woff2"),
    url("./Marianne/Marianne-Medium_Italic.woff") format("woff");
}

@font-face {
  font-family: "Marianne";
  font-weight: 500;
  font-style: normal;
  src: url("./Marianne/Marianne-Medium.woff2") format("woff2"),
    url("./Marianne/Marianne-Medium.woff") format("woff");
}

@font-face {
  font-family: "Marianne";
  font-weight: 400;
  font-style: italic;
  src: url("./Marianne/Marianne-Regular_Italic.woff2") format("woff2"),
    url("./Marianne/Marianne-Regular_Italic.woff") format("woff");
}

@font-face {
  font-family: "Marianne";
  font-weight: 400;
  font-style: normal;
  src: url("./Marianne/Marianne-Regular.woff2") format("woff2"),
    url("./Marianne/Marianne-Regular.woff") format("woff");
}
