.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.texte-gris {
  color: var(--text-mention-grey)
}

.texte-droite {
  text-align: right;
}
