.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyEnd {
  justify-content: end;
}

.texte-gris {
  color: var(--text-mention-grey)
}

.texte-droite {
  text-align: right;
}
