.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.relative {
  position: relative !important;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.w-full {
  width: 100%;
}
.w-half-full {
  width: 50%;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.flex-column {
  flex-direction: column;
}

.justify-end {
  justify-content: flex-end
}

.texte-gris {
  color: var(--text-mention-grey)
}

.texte-warning {
  color: var(--text-default-warning)
}

.texte-gauche {
  text-align: left;
}

.texte-droite {
  text-align: right;
}

.texte-centre {
  text-align: center;
}

.btn-radius {
  border-radius: 0.25rem;
}

.no-wrap {
  white-space: nowrap;
}

.h-40 {
  height: 10rem;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.fr-text-title--blue-france {
  color: var(--text-title-blue-france) !important;
}

.border-t {
  border-top-width: 1px;
  border-top-color: var(--border-default-grey);
  border-top-style: solid;
}

.border-r {
  border-right-width: 1px;
  border-right-color: var(--border-default-grey);
  border-right-style: solid;
}

.border-b {
  border-bottom-width: 1px;
  border-bottom-color: var(--border-default-grey);
  border-bottom-style: solid;
}

.border-l {
  border-left-width: 1px;
  border-left-color: var(--border-default-grey);
  border-left-style: solid;
}

.page-break {
  page-break-after: always;
}
