.barre-laterale {
  position: sticky;
  top: 0;
  width: 25rem;
  height: 100vh;
  overflow-y: scroll;
  background-color: var(--background-alt-raised-grey);
}

@media screen and (max-width: 992px) {
  .barre-laterale {
    position: fixed;
    left: 0;
    z-index: 501;
    max-width: 21.875rem;
    transition: 500ms;
    transform: translateX(-21.875rem);
  }

  .barre-est-ouverte {
    transition: 500ms;
    transform: translateX(0);
  }
}
