# next.js
/.next/
/out/

# production
/build

# testing
/coverage
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# uploads
/uploads

# typescript
*.tsbuildinfo

# local env
.env
.env.e2e
.env.test
.devtools
