################################################################################
#                                  Data .env                                   #
################################################################################

##
# Database
## 

PGHOST="172.17.0.1" # ou localhost sans Docker
PGPORT=5432
PGUSER="postgresql"
PGPASSWORD="secret"
PGDATABASE="postgresql"


##
# Matrix notification
## 

TCHAP_BASE_URL=https://matrix.agent.dinum.tchap.gouv.fr
TCHAP_ACCESS_TOKEN=TBD
TCHAP_ROOM_ID=TBD

##
# Misc
## 

# Pour clone des fichiers 
PPG_METADATA_GITHUB_TOKEN=TBD
ENVIRONMENT=TBD # Pour message d'erreur Matrix seulement ?
SCALINGO_LOGS_URL=TBD # Pour message d'erreur Matrix
