##
# PPG méta données et dfakto
input_data/temp/*

##
# dbt
# Root config
.user.yml
# Project artifacts
target/
logs/
dbt_packages/

seeds/ppg_metadata
scripts/dumps/*
scripts/output/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

dbt_internal_packages/
