[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbt-core = "*"
dbt-duckdb = "*"
dbt-postgres = "*"
markdown2 = "*"
python-dotenv = "*"
requests = "*"
elementary-data = {extras = ["postgres"], version = "*"}
sqlfluff = "*"
dlt = {extras = ["postgres"], version = "*"}
pygithub = "*"
pyarrow = "*"
jinja2 = "*"
sqlalchemy = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_full_version = "3.9.16"
