[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbt-duckdb = "1.2"
dbt-fal = "1.3"
dbt-postgres = "==1.3"
fal = "0.7"
python-dotenv = "==0.21"

[dev-packages]

[requires]
python_full_version = "3.9.16"
