table.tableau {
  display: table;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.container > div {
  min-width: 25rem;
  max-width: 100%;
}
