.conteneur {
  > div {
    min-height: 9rem;
  }

  ul {
    list-style: none;

    li {
      > div {
        width: 6.75em;
        height: 5.5em;

        .nombreDeChantiers {
          font-size: 30px;
          color: var(--text-title-blue-france);
        }

        .labelMétéo {
          font-size: 10px;
          line-height: 13px;
        }
      }
    }
  }
}

.répartitionGéographique {
  height: 100%;
}

.bordure {
  box-sizing: border-box;
  border: 1px solid var(--border-plain-blue-france);
  border-radius: 5px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.contenuDePage {
  display: flex;
}

.barreLaterale {
  position: sticky;
  top: 0;
  width: 25rem;
  height: 100vh;
  overflow-y: scroll;
  background-color: var(--background-alt-raised-grey);
}

@media screen and (max-width: 992px) {
  .barreLaterale {
    position: fixed;
    left: 0;
    z-index: 501;
    max-width: 21.875rem;
  }
}

.contenuPrincipal {
  flex: 1;
  height: 150vh; /* TODO à supprimer */
}
