##
# PPG méta données
input_data/private_data
!input_data/private_data/.gitkeep

##
# dbt
# Root config
pilote_data_jobs/transformations/dbt_root/.user.yml
# Project artifacts
pilote_data_jobs/transformations/ditp_ppg_dbt/target/
pilote_data_jobs/logs/
pilote_data_jobs/transformations/ditp_ppg_dbt/dbt_packages/
pilote_data_jobs/transformations/ditp_ppg_dbt/logs/
pilote_data_jobs/transformations/ditp_ppg_dbt/dbt/logs

pilote_data_jobs/transformations/ditp_ppg_dbt/seeds/ppg_metadata

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
