##
# PPG méta données
input_data/private_data
!input_data/private_data/.gitkeep

##
# dbt
# Root config
pilote_data_jobs/transformations/dbt_root/*.yml
# Project artifacts
pilote_data_jobs/transformations/ditp_ppg_dbt/target/
pilote_data_jobs/logs/
pilote_data_jobs/transformations/ditp_ppg_dbt/dbt_packages/
pilote_data_jobs/transformations/ditp_ppg_dbt/logs/
pilote_data_jobs/transformations/ditp_ppg_dbt/dbt/logs
