$couleur-de-fond-gris: var(--background-contrast-grey);
$couleur-de-fond-blanc: #fff;

.gris {
  progress {
    background-color: $couleur-de-fond-gris;

    &:not([value])::-moz-progress-bar {
      background-color: $couleur-de-fond-gris;
    }

    &::-webkit-progress-bar {
      background-color: $couleur-de-fond-gris;
    }
  }
}

.blanc {
  progress {
    background-color: $couleur-de-fond-blanc;

    &:not([value])::-moz-progress-bar {
      background-color: $couleur-de-fond-blanc;
    }

    &::-webkit-progress-bar {
      background-color: $couleur-de-fond-blanc;
    }
  }
}
