$couleur-de-fond-gris: var(--background-contrast-grey);
$couleur-de-fond-blanc: #fff;
$couleur-de-barre-1: var(--background-action-high-blue-france);
$couleur-de-barre-2: #5f5ff1; /* TODO variable ? */
$border-radius: 0.25rem;

.barre {
  max-width: 100%;

  progress {
    width: 100%;
    border: 0;
    border-radius: $border-radius;

    &::-webkit-progress-value {
      border-radius: $border-radius;
    }

    &::-moz-progress-bar {
      border-radius: $border-radius;
    }
  }

  p {
    text-align: right;
    white-space: nowrap;
  }
}

.barreSecondaire {
  progress {
    $gradient-de-barre: linear-gradient(
      -45deg,
      #000 5%,
      $couleur-de-barre-2 5%,
      $couleur-de-barre-2 45%,
      #000 45%,
      #000 55%,
      $couleur-de-barre-2 55%,
      $couleur-de-barre-2 95%,
      #000 95%
    );

    &[value]::-webkit-progress-value {
      background-image: $gradient-de-barre;
      background-size: 8px 8px;
    }

    &[value]::-moz-progress-bar {
      background-image: $gradient-de-barre;
      background-size: 8px 8px;
    }
  }

  p {
    color: $couleur-de-barre-2;
  }
}

.barrePrimaire {
  progress {
    &[value]::-webkit-progress-value {
      background-color: $couleur-de-barre-1;
    }

    &[value]::-moz-progress-bar {
      background-color: $couleur-de-barre-1;
    }
  }

  p {
    color: $couleur-de-barre-1;
  }
}

.barreSm {
  progress {
    height: 0.5rem;
  }

  p {
    width: 3.25em;
  }
}

.barreLg {
  progress {
    height: 2rem;
  }

  p {
    width: 6.5rem;
  }
}

.barreFondGris {
  progress {
    background-color: $couleur-de-fond-gris;

    &:not([value])::-moz-progress-bar {
      background-color: $couleur-de-fond-gris;
    }

    &::-webkit-progress-bar {
      background-color: $couleur-de-fond-gris;
    }
  }
}

.barreFondBlanc {
  progress {
    background-color: $couleur-de-fond-blanc;

    &:not([value])::-moz-progress-bar {
      background-color: $couleur-de-fond-blanc;
    }

    &::-webkit-progress-bar {
      background-color: $couleur-de-fond-blanc;
    }
  }
}
