$couleur-de-barre-1: var(--background-action-high-blue-france);
$couleur-de-barre-2: #5f5ff1; /* TODO variable ? */

.primaire {
  progress {
    &[value]::-webkit-progress-value {
      background-color: $couleur-de-barre-1;
    }

    &[value]::-moz-progress-bar {
      background-color: $couleur-de-barre-1;
    }
  }

  p {
    color: $couleur-de-barre-1;
  }
}

.secondaire {
  progress {
    $gradient-de-barre: linear-gradient(
      -45deg,
      #000 5%,
      $couleur-de-barre-2 5%,
      $couleur-de-barre-2 45%,
      #000 45%,
      #000 55%,
      $couleur-de-barre-2 55%,
      $couleur-de-barre-2 95%,
      #000 95%
    );

    &[value]::-webkit-progress-value {
      background-image: $gradient-de-barre;
      background-size: 8px 8px;
    }

    &[value]::-moz-progress-bar {
      background-image: $gradient-de-barre;
      background-size: 8px 8px;
    }
  }

  p {
    color: $couleur-de-barre-2;
  }
}
