$border-radius: 0.25rem;

.conteneur {
  max-width: 100%;

  .barre {
    flex-grow: 1;

    progress {
      display: block;
      width: 100%;
      border: 0;
      border-radius: $border-radius;

      &::-webkit-progress-bar {
        border-radius: $border-radius;
      }

      &::-webkit-progress-value {
        border-radius: $border-radius;
      }

      &::-moz-progress-bar {
        border-radius: $border-radius;
      }
    }

    .conteneurCurseurs {
      height: 0;
    }
  }

  .pourcentage {
    flex-grow: 0;
    flex-shrink: 0;

    p {
      padding-left: 0.5em;
      text-align: right;
      white-space: nowrap;
      vertical-align: middle;
    }
  }
}
