.filtresActifs {
  position: sticky;
  top: -1px;
  z-index: 2;
  background: var(--background-alt-blue-france);
  box-shadow: 0 6px 18px var(--shadow-color);

  .conteneurTags {
    max-height: 7.5rem;
    overflow-y: scroll;
  }

  .boutons {
    border: 1px solid #7b7b7b;
    border-radius: 0.375rem;
  }
}
