VITE_API_URL=https://pmb-api.modernisation.localhost
# URL de mb-api côté serveur (peut différer de VITE_API_URL en prod, ex: http://mb-api:3000 sur réseau interne)
API_BASE_URL=https://pmb-api.modernisation.localhost

# BFF (server-side only)
OIDC_ISSUER_URL=https://fca.integ01.dev-agentconnect.fr/api/v2
OIDC_CLIENT_ID=4ce2e36ceeb69c4a9ede20b52bad46470bc95bfaf5fdf0afedd9815e336d52da
OIDC_CLIENT_SECRET=
OIDC_REDIRECT_URI=https://pmb.modernisation.localhost/auth/callback
OIDC_POST_LOGOUT_REDIRECT_URI=https://pmb.modernisation.localhost/
SESSION_SECRET=
PUBLIC_BASE_URL=https://pmb.modernisation.localhost
KEYCLOAK_ISSUER_URL=https://dev-keycloak.osc-secnum-fr1.scalingo.io/realms/DITP
KEYCLOAK_CLIENT_ID=pmb
KEYCLOAK_CLIENT_SECRET=
LOG_LEVEL=info
APP_PACKAGE=@pilote/mb-webapp