API_DIR_PROJET_CHANTIER_ASSOCIE=xxx
API_DIR_PROJET_INDICATEUR_ASSOCIE=xxx
API_DIR_PROJET_USERNAME=xxx
API_DITP_USERNAME=xxx
DEV_PASSWORD=xxx
E2E_PASSWORD=xxx
E2E_USERNAME=xxx
GITHUB_TOKEN=xxx
PGDATABASE=xxx
PGHOST=xxx
PGPASSWORD=xxx
PGPORT=xxx
PGUSER=xxx
SCALINGO_API_TOKEN=xxx
TCHAP_ACCESS_TOKEN=xxx
TCHAP_BASE_URL=xxx
TCHAP_ROOM_ID_E2E=xxx
TCHAP_ROOM_ID_TECH_EVENTS=xxx
