.primaire {
  fill: var(--background-action-high-blue-france);
  stroke: var(--background-action-high-blue-france);
}

.secondaire {
  fill: var(--artwork-minor-blue-france);
  stroke: var(--artwork-minor-blue-france);
}
